<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Burrito Wednesdays</a>
    </div>

    <div *ngIf="!isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']" style="cursor: pointer;">Login</a></li>
      </ul>
    </div>

    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/admin/participant-list']" style="cursor: pointer;">Participants</a></li>
        <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
