<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h3>Participant - Create</h3>

      <form novalidate="novalidate" class="form-horizontal" role="form">

          <div class="form-group col-sm-12">
              <label class="control-label col-sm-2" for="inputName">Name:</label>
              <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Enter Name" [(ngModel)]="inputName">
              </div>
          </div>

          <div class="form-group col-sm-12">
              <label class="control-label col-sm-2" for="inputSequence">Sequence:</label>
              <div class="col-sm-4">
                  <select class="form-control" id="inputSequence" name="inputSequence" [(ngModel)]="inputSequence">
                      <option *ngFor="let counter of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">{{ counter }}</option>
                  </select>
              </div>
          </div>

          <div class="form-group col-sm-12">
              <label class="control-label col-sm-2" for="inputOptInOut">Opt-In/Out:</label>
              <div class="col-sm-4">
                  <input type="checkbox" class="form-control" id="inputOptInOut" name="inputOptInOut" [(ngModel)]="inputOptInOut">
              </div>
          </div>

          <div class="form-group col-sm-12">
              <div class="col-sm-offset-2 col-sm-4">
                  <a *ngIf="routeMode == 'create'" (click)="actionCreate()" class="btn btn-small btn-primary">Create</a>
                  <a *ngIf="routeMode == 'update'" (click)="actionUpdate()" class="btn btn-small btn-primary">Update</a>
                  <a [routerLink]="['/admin/participant-list']" class="btn btn-small btn-default">Cancel</a>
              </div>
          </div>

      </form>

    </div>
  </div>
</div>
